<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: black;}
h1   {color: yellowgreen;}
p    {color: red;}
</style>
</head>
<body>

<h1>Здесь будет текст</h1>
<p>Здесь будет текст</p>

</body>
</html>